<div class="col-md-8 col-md-offset-2">
    <!-- required is a HTML5 validator which says that a particular field is required and cannot be a empty string,
    this works with Angular2, after we include ngNativeValidate in the form class -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
        <div class="form-group">
            <label for="content"> Content </label>
            <input
                    type="text"
                    id="content"
                    class="form-control"
                    [ngModel]="message?.content"
                    name="content"
                    required>
        </div>
        <button type="button" class="btn btn-danger" (click)="onClear(f)"> Clear </button>
        <button class="btn btn-primary" type="submit"> Save </button>
    </form>
</div>